/* Utilities
================================================== */


/** Floats & alignements */

.pull-left { float: left; }
.pull-right { float: right; }

/** Block Alignment */

.float-left {
	display: inline;
	float: left;
	margin-right: 1.2em; }
.float-right {
	display: inline;
	float: right;
	margin-left: 1.2em; }
.center {
	clear: both;
	display: block;
	margin: 0 auto; }

/** Text Alignment */

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }
.align-center { text-align: center; }


/*
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
*/

/** Misc */
.hide { display: none; } 
.show { display: block; } 
.disabled { pointer-events: none; opacity: 0.5; }
