/* Pre-selected colors
======================================= */

.bg-turquoise 		{ background: #1ABC9C; }
.bg-green-sea 		{ background: #16A085; }

.bg-emerland 		{ background: #2ECC71; }
.bg-nephritis 		{ background: #27AE60; }

.bg-river 			{ background: #3498DB; }
.bg-belize	 		{ background: #2980B9; }

.bg-amethyst 		{ background: #9B59B6; }
.bg-wisteria 		{ background: #8E44AD; }

.bg-asphalt 		{ background: #34495E; }
.bg-midnight 		{ background: #2C3E50; }

.bg-gray			{ background: #696969; }
.bg-black-lite		{ background: #774553; }

.bg-concrete		{ background: #95A5A6; }
.bg-asbestos		{ background: #7F8C8D; }

.bg-cloud			{ background: #ECF0F1; }
.bg-silver			{ background: #BDC3C7; }

.bg-alizarin		{ background: #E74C3C; }
.bg-pomegranate		{ background: #C0392B; }

.bg-sun-flower		{ background: #F1C40F; }
.bg-orange			{ background: #F39C12; }

.bg-coral			{ background: #FF7F50; }
.bg-chocolate		{ background: #D2691E; }

