/* Table of Content
==================================================
	#Reset
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Medias
	#Buttons
	#Forms
	#Utilities 
*/


/* Reset (Inspired by E. Meyers)
================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
	font-size: 100%;
	font: inherit;
	background: transparent;
	border: none;
	text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1;
	}

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

/* Structure
================================================== */

body { 
	background: #eee; 
	font: normal 100%/1.65 Georgia, "Times New Roman", serif;
}

#container {
	margin: 0 auto;
	width: 90%; 
	max-width: 1024px;
	background: #fff; 
}

/*
#wrapper {
	margin: 0 auto;
	width: 90%; 
	max-width: 1024px;
	background: #fff;
	display: block;
} 

#wrapper-header, 
#wrapper-footer {
	width: 100%; 
}

#wrapper-header {
	background: #000;
}
#wrapper-footer {
	background: #eee;
}
*/

#content {
	margin: 0 auto;
	width: 85%; 
	max-width: 830px;
	background: transparent; }

.site-header {
	margin: 0 auto;
	padding-top: 1em;
	width: 960px; }
	
.site-footer {
	margin: 0 auto;
	width: 960px; }

/* Navigation
================================================== */

.menu {}
.menu-primary {}
.menu-secondary {}

/* Sidebar
================================================== */

#sidebar-primary {}
#sidebar-secondary {}
#sidebar-footer {}

/* Links
================================================== */

a { cursor: pointer; }

a, a:visited {
	text-decoration: none;
	color: #68ADC3;
	font-weight: bold;
	/*font-weight: 700;*/
}
a:hover, a:active {}

/* Medias
================================================== */

img, a img { border: none; }
img { max-width: 100%; }
img.full {
	height: auto;
	width: auto;
	max-width: 100%;
}

img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 0 2em 2em;}

/*
img.alignleft, 
img.alignright {
	display: inline; }
*/

figure img {
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}
	
figcaption {
	width: 100%;
	height: auto;
	font-size: .8em;
	line-height: 1.5em;
	box-sizing: border-box;
	margin: -1.4em 0 2em 0;
	color: gray;
}
figcaption strong {
	font-family: sans-serif;
	font-size: .85em;
	font-weight: normal;
	text-transform: uppercase;
}

/** Make sure embeds and iframes fit their containers **/
embed,
iframe,
object {
	max-width: 100%;
}

/* Tables
================================================== */

/** Zebra Look Rows 
	http://tympanus.net/codrops/2012/10/25/kick-start-your-project-a-collection-of-handy-css-snippets/ **/
table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
}

/* Utilities
================================================== */

/*
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
*/

/** Floats
	http://tympanus.net/codrops/2012/10/25/kick-start-your-project-a-collection-of-handy-css-snippets **/

.float-left /* Or whatever name you like */ {
	float: left;
}
 
.float-right /* Or whatever name you like */ {
	float: right;
}

/** Block Alignment **/
.align-left {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.align-right {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.align-center {
	clear: both;
	display: block;
	margin: 0 auto;
}

/** Misc **/
.hide {
	display: none;
}
.show {
	display: block;
}
.disabled {
	pointer-events: none;
	opacity: 0.5;
}


