/* Base Typography
================================================== */

html { 
	font: normal 62.5% Georgia, Garamond, "Times New Roman", serif; 
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}

body {
	/* Accepted values: [ none | manual | auto ] */
	text-rendering: optimizeLegibility;
	color: #774553;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-top: 0; color: #774553; }

.tera {
	font-size: 100px;
	font-size: 100rem;
	margin-bottom: 0.25rem;}

.giga {
	font-size: 80px;
	font-size: 8rem;
	margin-bottom: 0.33rem; }

.mega {
	font-size: 60px;
	font-size: 6rem;
	margin-bottom: 0.41rem; }

h1 {
	font-size: 55px;
	font-size: 5.5rem;
	margin-bottom: 0.5rem; }

h2 {
	font-size: 48px;
	font-size: 4.8rem;
	margin-bottom: 0.61rem; }

h3 {
	font-size: 36px;
	font-size: 3.6rem;
	margin-bottom: 0.85rem; }

h4 {
	font-size: 30px;
	font-size: 2.4rem;
	margin-bottom: 1.2rem; }

h5 {
	font-size: 25px;
	font-size: 2.5rem;
	margin-bottom: 1.3rem; }

h6 {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 1.4rem; }

/** Hyphens */

abbr,
acronym,
blockquote,
code,
dir,
h1,
h2,
h3,
h4,
h5,
h6,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	/* Accepted values: [ none | manual | auto ] */
	-webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
	-moz-hyphens: none; /* Firefox 16 thru 20 */
	-ms-hyphens: none; /* IE10 */
	-o-hyphens: none;	 /* PRESTO...haha LOL */
	hyphens: none;	 /* W3C standard */ }

/* Text Elements
================================================== */

p { margin: 0 0 1em; }

p + p {
	/* text-indent: 1.5em;
	margin-top: -1.5em; */
}

.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 0.125em 0.125em 0 0;
	font-size: 5.8em;
	font-family: Georgia, "Times New Roman", serif;
	line-height: 0.55;
	text-indent: 0;
	background: transparent;
	color: inherit; }

b, strong { font-weight: bold; }
i, em { font-style: italic; }

big { font-size: 120%; }
small { font-size: 85%; }

sub, sup {
    font-size: 75%;
    letter-spacing: .1em;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
sup { top: -0.46em; }
sub { bottom: -0.24em; }

del, s, strike {
	text-decoration: line-through; }

ins, dfn {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid #666; }

/** Abbreviations Markup */
 
abbr {
	/* font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 600; */
	font-size: 0.8em;
	text-transform: uppercase; 
	letter-spacing: .1em;
	font-weight: bold;
	color: gray; }
	
abbr:hover { cursor: help; }

acronym {
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px dashed #666;
	cursor: help; }

/** All Capital Text */

.capitals {
	font-variant: small-caps;
	font-weight: 300;
	text-transform: lowercase; }

/** Unicode Ampersand */

@font-face {
	font-family: "Ampersand";
	src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
	unicode-range: U+0026;
}

@font-face {
	font-family: "Ampersand";
	src: local("Georgia");
	unicode-range: U+270C;
}

.amp {
	font-family: Ampersand, Georgia, serif;
}

/** 
	Sample :
	<ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	</ul>
  */
  
.stats-tabs {
	padding: 0;
}
.stats-tabs li {
	display: inline-block;
	margin: 0 0.625rem 0 0;
	padding: 0 0.625rem 0 0;
	border-right: 0.125rem solid #cccccc;
}
.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.stats-tabs li a {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
}
.stats-tabs li a b {
	display: block;
	margin: 0.125rem 0 0 0;
	font-size: 0.875rem;
	font-weight: normal;
}

/** Blockquote Markup
	---
	Sample :
	<blockquote>
		<p>&Prime;&Prime;</p>
		<cite>
			<a href=""></a>
		</cite>
	</blockquote>
  */

blockquote {
	font-style: italic;
	margin: 1.5em 50px;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-size: .75em;
	text-align: right;
	margin-top: .35em;
	margin-bottom: -1em;
}

blockquote cite:before { content: "– "; }
blockquote cite .author { text-transform: uppercase; letter-spacing: .1em; }
blockquote cite .reference { font-style: italic; font-size: 1.15em; }


/** 
	Sample :
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
  *
  */
  
.pull-quote {
	position: relative;
	padding: 1em;
}
.pull-quote:before,
.pull-quote:after {
	height: 1em;
	opacity: 0.25;
	position: absolute;
	font-size: 72px;
	font-size: 4rem;
}
.pull-quote:before {
	content: '“';
	top:  0;
	left: 0;
}
.pull-quote:after {
	content: '”';
	bottom: 0;
	right: 0;
}

/** Figures Markup
	---
	Sample :
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
  */

figure {}
figcaption {}

/** 
	Sample : Replace 'X' with your unique number for each footnote
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
*/

/** Code */

pre { 
	border: 1px #ddd solid;
	padding: 15px;
	margin-bottom: 2.5rem; 
	line-height: 1.45; }

code {
	white-space: pre;
	font-family: Courier, "Courier New", Monaco, monospace;
	font-size: 95%; }

pre code {
	word-wrap: normal;
	white-space: pre-wrap;
	font-family: Courier, "Courier New", Monaco, monospace;
	 }

/** Lists */

ul {
	list-style: disc outside;
	list-style-color: #774553;
	margin-left: 3em;
	margin-bottom: 1em;
	margin-top: -0.3em; }

ol {
	list-style: decimal outside;
	list-style-color: #774553;
	margin-left: 3em;
	margin-bottom: 1em;
	margin-top: -0.3em; }

li {}

/* Definition */

dl { margin-bottom: 1em; }

dt,
dd { line-height: 1.5; }

dt { 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-size: 12px;
  letter-spacing: 0.1em; }

dd { margin-left: 2em; margin-bottom: 0.7em; }


/*
	Sample :
	<dl class="dl-lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 */
 
.dl-lining dt,
.dl-lining dd {
	display: inline;
	margin: 0;
}
.dl-lining dt + dt:before,
.dl-lining dd + dt:before {
	content: "\A";
	white-space: pre;
}
.dl-lining dd + dd:before {
	content: ", ";
}
.dl-lining dd:before {
	content: ": ";
	margin-left: -0.2rem;
}

/*
	Sample :
	<dl class="dl-dictionary">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 */
 
.dl-dictionary dt {
	display: inline;
	counter-reset: definitions;
}
.dl-dictionary dt + dt:before {
	content: ", ";
	margin-left: -0.2rem;
}
.dl-dictionary dd {
	display: block;
	counter-increment: definitions;
	margin-bottom: 0;
}
.dl-dictionary dd:before {
	content: counter(definitions, decimal) ". ";
}

.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.8;
}
.dl-horizontal dd { margin-left: 180px; }

/* Utilities
================================================== */

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }
.align-center { text-align: center; }
